.temp {
    + .big-text,::ng-deep .mat-icon{
      font-size: 2rem;
      color: #d4a359;
  
    }
    span {
      margin-top: 1rem;
      // color: #09344c;
    }
  }
  .big-text {
    font-family: "Acme", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #d4a359;
  }
  
  .daily-forecast {
    padding: 1rem;
    margin: 1rem;
    border-radius: 15px;
    text-align: center;
    font-family: "Fjalla One", sans-serif;
    font-weight: 600;
    background-color: #f1f3f6 ;
    
  
    > mat-card-title {
      // color: #0a3a56;
      text-align: left;
      font-family: "Acme", sans-serif;
      font-weight: 700;
      margin-bottom: 1rem;
    }
    .day-forecast-card {
      background: linear-gradient(var(--color-misty-blue), var(--color-blue-gray));
      > mat-card-header {
        font-family: "Bree Serif", serif;
        font-weight: 500;
        justify-content: center;
        margin-bottom: -2.1rem;
      }
      
    }
  }