<mat-toolbar
  ><span class="logo" routerLink="/" title="Home">Weather App</span>
</mat-toolbar>
<div class="content">
  <div fxLayout="row wrap" layout-align="center center" *ngIf="countries">
    <mat-form-field>
      <mat-label>Select country</mat-label>
      <mat-select
        [(ngModel)]="selectCountry"
        name="selectCountry"
        (selectionChange)="onChange()"
      >
        <mat-option *ngFor="let country of countries" [value]="country.isoCode">
          {{ country.name }} ({{country.isoCode}})
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="cities">
      <mat-label>Select city</mat-label>
      <mat-select
        [(ngModel)]="selectCity"
        name="selectCity"
        (selectionChange)="openWeatherDetails()"
      >
        <mat-option *ngFor="let city of cities" [value]="city.name">
          {{ city.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <br />
</div>
