<mat-toolbar color="primary"> Weather App </mat-toolbar>
<div class="content select-container">
  <div class="flex-row">
    <mat-form-field class="mr">
      <mat-label>Select country</mat-label>
      <mat-select
        [(ngModel)]="selectedCountry"
        (selectionChange)="onChange($event)"
      >
        <mat-option *ngFor="let country of countries" [value]="country.isoCode">
          {{ country.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select city</mat-label>
      <mat-select
        [(ngModel)]="selectedCity"
        (selectionChange)="openWeatherDetails($event)"
      >
        <mat-option *ngFor="let city of cities" [value]="city.name">
          {{ city.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <br />
  <!-- <router-outlet></router-outlet> -->
</div>
