:host {
  display: flex;
  justify-content: center;
  position: relative;
}

.top-bar {
  position: absolute;
  left: 0;
  top: 0;
}
.container {
  width: 100%;
}

mat-card::ng-deep.mat-card-header-text {
  width: 100%;
  font-family: "Carter One", cursive;
}

.weather-card {
  width: 70%;
  /* top | horizontal | bottom */
  margin: 2rem auto 3rem;
  border-radius: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;

  display: flex;
  justify-content: space-evenly;

  .outlook {
    color: black;
    // background: rgba(0, 0, 0, 0.1);
    margin: auto;
    font-family: "Carter One", cursive;
    font-weight: 400;
    // img {
    //   width: 10%;
    // }

    .big-text {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }

  .temp {
    background: rgba(0, 0, 0, 0.1);
    color: black;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > div {
      display: flex;
      justify-content: flex-start;
    }

    .image {
      height: 80px;
    }
  }
}

.big-text {
  font-size: 30px;
  margin-bottom: 10px;
}

.daily-forecast {
  padding: 16px;
  border-radius: 15px;
  text-align: center;
  font-family: "Carter One", cursive;

  mat-card-title {
    width: 100%;
    font-family: "Carter One", cursive;
    text-align: left;
    margin-bottom: 2.5rem;
  }
  .big-text {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
