.container {
  width: 100%;
  color: var(--color-white);
}

.weather-card {
  width: 70%;

  display: flex;
  justify-content: space-evenly;
  /* top | horizontal | bottom */
  margin: 2rem auto 3rem;
  padding: 3.5rem 1rem 1rem;

  border-radius: 30px;
  text-align: center;
  font-family: "Acme", sans-serif;
  font-size: 2rem;
  font-weight: 700;

  background: linear-gradient(var(--color-misty-blue), var(--color-blue-gray));

  ::ng-deep.mat-card-title {
    color: var(--color-white);
    font-family: "Acme", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
  }
  .mat-card-subtitle {
    color: var(--color-cyan-blue-dark);
    font-family: "Bree Serif", serif;
    letter-spacing: 0.5px;
  }

  .temp {
    letter-spacing: 1px;

    ::ng-deep .mat-icon {
      font-size: 2rem;
      color: var(--color-yellow-freesia);
    }
    .big-text {
      font-family: "Acme", sans-serif;
      font-size: 3.5rem;
      margin-bottom: 10px;
      margin-top: -1rem;
      color: var(--color-yellow-freesia);
    }
    span {
      margin-top: 1.5rem;
      color: var(--color-white);
      font-family: "Bree Serif", serif;
      font-weight: 500;
      font-size: 1.2rem;
    }
  }

  .outlook {
    font-family: "Bree Serif", serif;
    font-weight: 700;
    font-size: 2rem;

    text-align: left;
    letter-spacing: 1px;

    p {
      display: flex;
      align-items: center;
      color: var(--color-cyan-blue-dark);
      mat-icon {
        margin-right: 0.5rem;
        color: var(--color-cyan-blue-dark);
      }
      span {
        margin-left: 0.3rem;
        color: var(--color-blue-gray-lighter);
        font-weight: 400;
      }
    }
  }
}
